@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SmileySans";
  src: url("/fonts/SmileySans-Oblique.ttf") format("truetype");
}

body {
  @apply bg-background relative flex flex-col h-screen;
}
